<p id="notice"><%= notice %></p>
<div id="destination-map" class="map"></div>
<p>
  <strong>City:</strong>
  <%= @destination.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @destination.country %>
</p>

<p><%= @destination.latitude %>, <%= @destination.longitude %></p>


<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>


<%= javascript_tag do %>
   var destinations = []
   destinations.push({
      'latitude': '<%= j @destination.latitude.to_s %>',
      'longitude': '<%= j @destination.longitude.to_s %>',
      'image': '<%= j image_path("icon.png") %>'
    })   
<% end %>