<!DOCTYPE html>
<html>
  <head>
    <title>GmapsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
     <!-- Just before the closing body tag: -->
 <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgx7dILE9MJxbG2st9bmKhjzOsz2kf22w">
 </script>
  </body>
</html>
